@use '../helpers' as *;

.detailed {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(rem(10));
    backdrop-filter: blur(rem(10));
    border-radius: rem(10);
    height: rem(162);
    margin-top: rem(10);
    padding: rem(8) rem(10) rem(15);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    animation: slideInSmooth 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        align-self: start;
    }

    &__button {
        padding: rem(6);
        border: rem(1) solid rgba(255, 255, 255, 0.1);
        background: transparent;
        color: rgba(255, 255, 255, 0.6);
        font-size: rem(14);
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: rem(8);

        -webkit-tap-highlight-color: transparent;
        outline: none;

        @include hover {
            background: rgba(255, 255, 255, 0.15);
            color: #fff;
            box-shadow: 0 rem(4) rem(15) rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(rem(4));
        }

        &:active {
            transform: scale(0.9);
            transition: all 0.2s;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: rem(110) 1fr;
        align-items: center;
        gap: rem(15);
    }

    &__info-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: rem(7);
        opacity: 0.7;
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: (rem(-5));
            width: rem(1);
            height: rem(100);
            align-self: center;

            background: linear-gradient(to bottom,
                    rgba(255, 255, 255, 0.05),
                    rgba(255, 255, 255, 0.6) 50%,
                    rgba(255, 255, 255, 0.05));

            animation: divider-pulse 4s infinite ease-in-out;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    &__temp {
        font-size: rem(30);
    }

    &__icon {
        @include square(rem(60));
    }

    &__desc {
        text-align: center;
        display: block;
    }
}

@keyframes divider-pulse {

    0%,
    100% {
        opacity: 0.4;
        transform: scaleY(0.9);
    }

    50% {
        opacity: 0.9;
        transform: scaleY(1.1);
    }
}

@keyframes slideInSmooth {
    0% {
        opacity: 0;
        transform: translateY(rem(20)) scale(0.98);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}