@use 'sass:math';
@use 'functions' as *;


@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}