@use 'helpers' as *;

body {
    font-family: 'SFProText', sans-serif;
    font-weight: 400;
    // position: relative;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

 

    // background: radial-gradient(circle at bottom left, #4b0082 0%, #32056e 100%);

    color: rgb(197, 197, 197);
    line-height: 1;

}